/* .grid {
    display: grid;
    grid-template-columns: [left] 1fr [main] 8fr [main-end] 1fr [right];
    grid-template-rows: [top] 50px [nav] auto [content] minmax(100px, auto) [foot] 40px [bottom];
}
.header {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: top;
    background: rgba(0,139,202,0.5);
}
.nav {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: nav;
    background: rgba(254,235,91,0.5);
}
.main {
    grid-column-start: main;
    grid-column-end: main-end;
    grid-row-start: content;
    background: rgba(242,125,74,0.5);
}
.footer {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: foot;
    background: rgba(224,48,90,0.5);
} */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,minmax(100px, auto));
    gap: 10px;
    width: 500px;
    grid-template-areas:
    "header header"
    "nav main"
    "nav footer";
}
.grid > div {
    border: solid 1px gray;
}
.header {
    grid-area: header;
    background: rgba(0,139,202,0.5);
}

.nav {
    grid-area: nav;
    background: rgba(254,235,91,0.5);
}
.main {
    grid-area: main;
    background: rgba(242,125,74,0.5);
}
.footer {
    grid-area: footer;
    background: rgba(224,48,90,0.5);
}